<section class="video">
  <div class="video__container">
    <iframe
      class="video__iframe"
      src="https://www.youtube.com/embed/V3N6NlmUSUM?rel=0"
      title="Solo Ecos - Visualizer"
      loading="lazy"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
</section>

<style>
.video {
  padding: 1.1rem 1rem 0;
}

.video__container {
  max-width: 1200px;
  margin: 0 auto;
}

.video__iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
</style>
