---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Video from '../section/Video.astro';
---

<Layout>
  <Header></Header>
    <main>
      <Video></Video>
    </main>
  <Footer></Footer>
</Layout>
