---

---
<header class="header">
  <div class="header__container">
    <h1 class="header__artist">Angel Gallardo</h1>

    <div class="header__content">
      <p>presenta</p>
      <h2>SOLO ECOS</h2>
    </div>

  </div>
</header>

<style>
.header {
  padding: 2.5rem 1rem;
}

.header__container {
  width: 100%;
}

.header__artist {
  font-size: 2.5rem;
}

.header__content {
  display: inline-flex;
  gap: .4rem;
}

.header__content p {
  font-size: 1.6rem;
}

.header__content h2 {
  font-size: 4.5rem;
  line-height: 3.5rem;

}
</style>
